body {
    font-family: 'Poppins', sans-serif;
    background: burlywood;
}

.btn-add{

    background-color: rgb(12, 187, 50);
    color: white;
    padding: 0px 63px;
}

.btn-remove{

    background-color: rgb(187, 12, 12);
    color: white;
    padding: 0px 50px;
}

.btn-edit{

    background-color: rgb(0, 0, 255);
    color: white;
    padding: 0px 50px;
}

ul{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;

    
}
li{
    position: relative;
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color:
    #fff;
    border: 1px solid
    rgba(0,0,0,.125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    
}